.root{
    -fx-background-color: #E0F2F1;
    -fx-font-family: 'ubuntu';
}

.button{
    -fx-background-color: #009688;
    -fx-text-fill: #FFFFFF;
    -fx-border-color: #000000;
    -fx-border-radius: 8px;
    -fx-background-radius: 9px;
}

.button:hover{
    -fx-background-color: #26A69A;
    transition: -fx-background-color 1s;
}

.label {
    -fx-font-family: 'ubuntu';
}

.button-transparent{
    -fx-background-color: transparent;
    -fx-text-fill: #000000;
}

.list-view{
    -fx-background-color: #009688;
    -fx-background-radius: 8px;
    -fx-border-color: #009688;
    -fx-border-radius: 8px;
}

.text-field{
    -fx-background-color: #E0F2F1;
    -fx-border-color: #000000;
    -fx-border-radius: 8px;
    -fx-background-radius: 8px;
    -fx-accent: #009688;
}

.text-field:selected{
    -fx-background-color: 009688;
}

.progress-bar{
    -fx-accent: #009688;
    -fx-background-radius: 8px;
    -fx-border-radius: 8px;
}

.progress-bar .track{
    -fx-text-box-border: #000000;
    -fx-control-inner-background: #B2DFDB;
    -fx-background-radius: 8px;
    -fx-border-radius: 8px;
}

.text-area{
    -fx-background-color: #E0F2F1;
    -fx-text-fill: black;
}

.text-area .content{
    -fx-background-color: #B2DFDB;
    -fx-border-color: black;
    -fx-border-radius: 8px;
    -fx-background-radius: 8px;
}

.context-menu {
    -fx-background-color: #E0F2F1;
    -fx-text-fill: black;
}

.menu-item:focused {
    -fx-background-color: #009688;
}

.scroll-bar{
    -fx-border-color: #000000;
    -fx-background-color: #E0F2F1;
}

.scroll-bar:horizontal .thumb,
.scroll-bar:vertical .thumb{
    -fx-background-color: #009688;
}

.scroll-bar:horizontal .track,
.scroll-bar:vertical .track {
    -fx-background-radius: 8px;
}

.scroll-bar:horizontal .increment-button ,
.scroll-bar:horizontal .decrement-button {
    -fx-background-color :#E0F2F1;
    -fx-background-radius: 8px;
}

.scroll-bar:vertical .increment-button ,
.scroll-bar:vertical .decrement-button {
    -fx-background-color :#E0F2F1;
    -fx-background-radius: 8px;
}

.list-cell{
    -fx-background-color: #E0F2F1;
    -fx-background-radius: 2px;
}

.list-cell:even {
    -fx-background-color: #B2DFDB;
}

.list-cell:hover {
    -fx-background-color: #80CBC4;
}

.list-cell:selected{
    -fx-background-color: #009688;
}