@font-face {
    font-family: 'Ubuntu';
    src: url("Ubuntu-R.ttf");
}
@font-face {
    font-family: 'Ubuntu';
    font-weight: bold;
    src: url("Ubuntu-B.ttf");
}

.root{
    -fx-background-color: #FFFFFF;
    -fx-background-image: url("../images/mbackground.png");
    -fx-background-repeat: stretch;
    -fx-background-size: 800 500;
    -fx-background-position: center center;
    -fx-font-family: "Ubuntu";
    -fx-text-fill: #000000;
}

.root-clean{
    -fx-background-color: #2B2B2B;
    -fx-background-image: none;
    -fx-font-family: "Ubuntu";
}

.root-clear{
    -fx-background-image: url("../images/mbackground_clear.png");
}

.split-pane-image {
    -fx-background-image: url("../images/mbackground.png");
    -fx-background-repeat: stretch;
    -fx-background-size: 800 500;
    -fx-background-position: center center;
}

.button{
    -fx-background-color: #0284FE;
    -fx-text-fill: #FFFFFF;
    -fx-border-color: #5E6060;
    -fx-border-radius: 4px;
    -fx-background-radius: 5px;
}

.button:hover{
    -fx-background-color: #02A3FE;
}

.button-blue{
    -fx-background-color: #009688;
}

.button-drac{
    -fx-background-color: #1C1C1C;
}

.button-drac:hover{
    -fx-background-color: #424445;
}

.button-c{
    -fx-background-color: #0284FE;
}

.button-c:hover{
    -fx-background-color: #0069CC;
}

.button-settings{
    -fx-background-image: url("../images/msetting.png");
    -fx-background-repeat: stretch;
    -fx-background-size: cover;
    -fx-background-position: center center;
}

.button-listen{
    -fx-background-image: url("../images/msound.png");
    -fx-background-repeat: stretch;
    -fx-background-size: cover;
    -fx-background-position: center center;
}

.button-practice{
    -fx-background-image: url("../images/mpractice.png");
    -fx-background-repeat: stretch;
    -fx-background-size: cover;
    -fx-background-position: center center;
}

.label {
    -fx-font-family: 'Ubuntu';
    -fx-text-fill: #000000;
}

.button-transparent{
    -fx-background-color: transparent;
    -fx-text-fill: #000000;
}

.button-save{
    -fx-background-image: url("../images/dsave.png");
    -fx-background-repeat: stretch;
    -fx-background-size: 25 20;
    -fx-background-position: center center;
}

.text-field{
    -fx-background-color: #313335;
    -fx-text-fill: #000000;
    -fx-border-color: #5E6060;
    -fx-border-radius: 4px;
    -fx-background-radius: 4px;
    -fx-accent: #D0D0D0;
}

.text-field:selected{
    -fx-background-color: #0D293E;
}

.progress-bar{
    -fx-accent: #0284FE;
    -fx-background-radius: 4px;
    -fx-border-radius: 4px;
}

.progress-bar:hover{
    -fx-background-color: #0069CC;
}

.progress-bar .track{
    -fx-text-box-border: #000000;
    -fx-control-inner-background: #FFFFFF;
    -fx-background-radius: 4px;
    -fx-border-radius: 4px;
}

.text-area{
    -fx-background-color: #A9B7C6;
    -fx-text-fill: #000000;
}

.text-area .content{
    -fx-background-color: #A9B7C6;
    -fx-border-color: black;
    -fx-border-radius: 4px;
    -fx-background-radius: 4px;
}

.context-menu {
    -fx-background-color: #A9B7C6;
    -fx-text-fill: #000000;
}

.menu-item .label {
    -fx-text-fill: #000000;
}

.menu-item:focused {
    -fx-background-color: #D0D0D0;
    -fx-text-fill: #000000;
}

.scroll-bar{
    -fx-border-color: #000000;
    -fx-background-color: #A9B7C6;
}

.scroll-bar:horizontal .thumb,
.scroll-bar:vertical .thumb{
    -fx-background-color: #A9B7C6;
}

.scroll-bar:horizontal .track,
.scroll-bar:vertical .track {
    -fx-background-radius: 4px;
    -fx-background-color: #2B2B2B;
}

.scroll-bar:horizontal .increment-button ,
.scroll-bar:horizontal .decrement-button {
    -fx-background-color : #2B2B2B;
    -fx-background-radius: 2px;
}

.scroll-bar:vertical .increment-button ,
.scroll-bar:vertical .decrement-button {
    -fx-background-color :#2B2B2B;
    -fx-background-radius: 2px;
}

.list-view{
    -fx-background-color: #3C3F41;
    -fx-background-radius: 4px;
    -fx-border-color: #4B4B4B;
    -fx-border-radius: 4px;
}

.list-cell{
    -fx-background-color: #313335;
    -fx-background-radius: 2px;
    -fx-text-fill: #000000;
}

.list-cell:even {
    -fx-background-color: #3C3F41;
}

.list-cell:hover {
    -fx-background-color: #242424;
}

.list-cell:selected{
    -fx-background-color: #5A5A5A;
    -fx-text-fill: #000000;
}

.list-cell:focused{
    -fx-background-color: #5A5A5A;
    -fx-text-fill: #000000;
}

.split-pane{
    -fx-background-color: #1C1C1C;
}

.split-pane-divider{
    -fx-background-color: #1C1C1C;
    -fx-border-color: #1C1C1C;
}

.list-cell-red{
}

.list-cell-red:selected{
    -fx-border-color: #703E40;
    -fx-background-color: #894440;
    -fx-border-width: 1px;
    -fx-border-radius: 4px;
    -fx-text-fill: #000000;
}

.split-pane-divider{
    -fx-background-color: transparent;
    -fx-border-color: transparent;
}

.label-custom{
    -fx-background-color: #1C1C1C;
    -fx-border-color: #1C1C1C;
    -fx-border-radius: 4px;
}

.scroll-pane > .viewport {
    -fx-background-color: transparent;
}

.check-box .box{
    -fx-background-color: #3C3F41;
    -fx-border-color: #1C1C1C;
    -fx-border-radius: 4px;
}

.check-box:selected .mark {
    -fx-background-color: white;
}

.combo-box .arrow-button{
    -fx-background-color: #0069CC;
}

.combo-box .arrow{
    -fx-background-color: #000000;
}

.combo-box .list-cell{
    -fx-background-color: #FFFFFF;
    -fx-font-family: "Ubuntu";
}

.combo-box .list-cell:hover{
    -fx-background-color: #0069CC;
}

.combo-box .list-cell:selected{
    -fx-background-color: #0284FE;
}